.content .heading{
  text-align: center;
  margin: 20px;
  background-color: rgb(0, 9, 128);
  color: white;
  padding: 2px;
  border-radius: 30px;
  font-size: 30px;
}

.left-div{
  color: white;
  background-image:
    linear-gradient(to bottom, rgba(67, 72, 110, 0.432), rgba(65, 71, 110, 0.73)),
    url('../src/components/Project/Img8.jpg');
  background-size: cover;
  overflow: hidden;
  min-height: 380px;
}
.left-div{
  text-align: center;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.text{
  font-size: 70px;
}

.right-div-login{
  color:black;
  min-height: 380px;
  text-align: center;
  margin: auto;
}
.right-div .login-heading{
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer{
  margin-top: 20px;
  background-color: black;
  color: white;
}
.right-div-signup{
  color:black;
  min-height: 380px;
  text-align: center;
  margin: auto;
}
.right-div-s .signup-heading{
  margin-top: 20px;
  margin-bottom: 30px;
}

h1{
  float: right;
  margin-right: 70px;
}

.logo{
  width: 200px;
  float: right;
}

.navlink{
  text-decoration: none;
  color: white;
}
